.form--card{
    box-sizing: border-box;
    display: flex;
    width: 77.5%;
    margin-left: 110px;
    height: 90%;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.group--container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}