.landing--container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('../../../public/assets/background.png');
}
.heading--container {
    height: 10%;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
}
.landingPage--actions {
    position: relative;
    height: 90%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.red--line {
    width: 100%;
    border: 1px solid red;
}
.startForm--btn {
    width: 464px;
    height: 60px;
    background-color: #1A1A1A;
    border-radius: 8px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    z-index: 2;
}
.redberry--logo {
    max-width: 236px;
    max-height: 38px;
}
.hologram__logo {
    right: 22%;
    top: 45%;
    position: absolute;
    z-index: 1;
}